@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<p style="font-size:155%">Markers on the interactive map show known events in the area.</p>
<br />
<img src="@Url.Content("~/Content/Images/Map small.png")"/>
<br /><br /><br />
<p style="font-size:155%">Events can be filtered by category, and are colour-coded.</p>
<br />
<img src="@Url.Content("~/Content/Images/Event Categories.png")"/>
<br/><br/><br />
<p style="font-size:155%">Weather forecasts and crime statistics are provided for the location the events occur.</p>
<br />
<img src="@Url.Content("~/Content/Images/Weather Forecast.png")" style="float:left"/>
<div align="center">
    <img src="@Url.Content("~/Content/Images/Crime Stats.png")" style="margin-right:25%"/>
</div>
<br />


