@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div align="center">
    <img src="~/Content/Images/Icon-App.png" />
    <br />
    <h2>EventGuardian</h2>
    <br />
    <hr />
</div>
<br/>
<h3>Name:</h3>
<h3>Email:</h3>



