@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<br/>
<div align="center">
    <h2>EventGuardian</h2>
</div>
<br />
<hr />
<br />
<div align="left">
    <p class="lead">
        EventGuardian is a great way of finding events near you.
        Using data obtained from the <a href="http://www.eventfinda.com.au/api/v2/index">eventfinda API</a>,
        the iOS app features an interactive map of events and information related to their locations, such as crime data and weather predictions. 
    </p>
    <br />
</div>
<img src="~/Content/Images/Map.png" style="float:left"/>
<div align="center">
    <img src="~/Content/Images/Event.png" />
</div>
<br /><br /><br />

<div align="left">
    <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg"><span>Learn More &raquo</span></a>
</div>
<div style="clear:both;margin-bottom:40px"/>