@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "CPT331 Administation | Home";
}

<h1>Administration</h1>

<ul>
<li>@Html.ActionLink("Local Government Areas", "LocalGovernmentAreas")</li>
<li>@Html.ActionLink("Offence Categories", "OffenceCategories")</li>
<li>@Html.ActionLink("Offences", "Offences")</li>
<li>@Html.ActionLink("States", "States")</li>
</ul>