@using CPT331.Core.ObjectModel

@model IEnumerable<LocalGovernmentAreaState>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Local Government Areas | Admin";
}

<h1>@Html.ActionLink("Home", "Home", "Admin") | Local Government Areas</h1>

<p>@Html.ActionLink("New Local Government Area", "NewLocalGovernmentArea", "Admin")</p>

@Html.Partial("LocalGovernmentAreasPartial", Model)
