@using CPT331.Core.ObjectModel

@model IEnumerable<OffenceCategory>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "OffenceCategories | Admin";
}

<h1>@Html.ActionLink("Home", "Home", "Admin") | Offences</h1>

<p>@Html.ActionLink("New Offence Category", "NewOffenceCategory", "Admin")</p>

@Html.Partial("OffenceCategoriesPartial", Model)
