@using CPT331.Core.ObjectModel

@model IEnumerable<OffenceCategory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "OffenceCategories | Admin";
}

<br />
<h1>@Html.ActionLink("Home", "Home", "Admin") | Offences</h1>
<hr /><br />

<p><h3>@Html.ActionLink("New Offence Category", "NewOffenceCategory", "Admin")</h3></p>

<p><a href="@Url.Action("ExportOffenceCategories", "Admin")"><img src="/Content/Images/excel.gif" border="0" title="Export Data" /></a></p>

<br/>

@Html.Partial("OffenceCategoriesPartial", Model)
