@using CPT331.Core.ObjectModel

@model IEnumerable<Offence>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Offences | Admin";
}

<br/>
<h1>@Html.ActionLink("Home", "Home", "Admin") | Offences</h1>
<hr /><br />
<p><h3>@Html.ActionLink("New Offence", "NewOffence", "Admin")</h3></p>
@Html.Partial("OffencesPartial", Model)
