@using CPT331.Core.ObjectModel

@model IEnumerable<State>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "States | Admin";
}

<br />
<h1>@Html.ActionLink("Home", "Home", "Admin") | States</h1>
<hr /><br />

<p><h3>@Html.ActionLink("New State", "NewState", "Admin")</h3></p>

<p><a href="@Url.Action("ExportStates", "Admin")"><img src="/Content/Images/excel.gif" border="0" title="Export Data" /></a></p>

<br/>

@Html.Partial("StatesPartial", Model)
