@using CPT331.Core.ObjectModel
@using CPT331.Data

@model IEnumerable<State>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "States | Admin";
}

<br />
<h1>@Html.ActionLink("Home", "Home", "Admin") | States</h1>
<hr /><br />

<p><h3>@Html.ActionLink("New State", "NewState", "Admin")</h3></p>

@Html.Partial("StatesPartial", Model)
