<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CPT331.Data.Migration.ApplicationConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CPT331ConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=CPT331;Integrated Security=False;User Id=sa;Password=password;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <CPT331.Data.Migration.ApplicationConfig>
      <setting name="CrimeDataFolder" serializeAs="String">
        <value>D:\Downloads\Crime Data\XML Data Sources</value>
      </setting>
    </CPT331.Data.Migration.ApplicationConfig>
  </applicationSettings>
</configuration>
