<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CPT331ConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=CPT331;Integrated Security=False;User Id=sa;Password=password;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
